<div class="center hero-unit">
	<h1>E*Trade RSU Helper</h1>

    <h2>
  	  Calculate your RSU cost basis without the pain of Excel for your taxes.
  	</h2>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!--
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
-->